<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="100%" frame="box">
    <tr>
        <td><h2>Project Management</h2></td>
<td align="right">
</td>
<td align="right" width="50">
    <a href="/logOut">Logout</a>
    </td>
    </tr>
    <tr>
        <td width="250">
    <table frame="box" width="100%">
        <tr>
            <td>
                <div>
                    <p>Account</p>
                    <hr>
                    <ul>
                        <li><a href="#">Change Password</a></li>
                    </ul>
                </div>
                <div>
                    <p>Project</p>
                    <hr>
                    <ul>
                        <li><a href="#">Add Project</a></li>
                        <li><a href="allproject">View Project</a></li>
                    </ul>
                </div>
                <div>
                    <p>User</p><hr>
                    <ul>
                        <li><a href="#">Assign User</a></li>
                    </ul>
                </div>
                <div>
                    <p>Task</p>
                    <hr>
                    <ul>
                        <li><a href="#">Add Task</a></li>
                        <li><a href="#">View Task</a></li>
                    </ul>
                </div>
                <div>
                    <p>Comment</p>
                    <hr>
                    <ul>
                       <li><a href="#">Add Comment</a></li>
                       <li><a href="#">View Comments</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>


</td>

        <td><h1>WelCome To X IT PROJECT MANAGEMENT TOOL</h1></td>
    </tr>
    <div>
    <td colspan="2" align="center">
        Copyright &copy; 2018
    </td>
</div>
</table>
</body>
</html>